# Jupyter Notebook - Teste

Script teste para leitura do arquivo de vaz√µes do ONS com novo formato

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("C:\\TCC\\ScriptsPypsaBrazil\\open-brazilian-energy-data_atualizado\\hydro_inflow\\raw\\raw_2000_2020_daily_N_Simples_Energia_Natural_Afluente_Subsistema_Ano_Fu_data.csv",
                encoding='utf-16-le',
                sep='\t')

df = df.T
df.reset_index(drop=True, inplace=True)
df.index = range(len(df))
df.index.name = 'index'
df = df.drop(index=[0, 1, 2]).reset_index(drop=True)
df["Subsistema"] = df.iloc[:,1].iloc[0]
df.drop(0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.rename(columns={df.columns[0]: 'Din Instante', df.columns[1]: 'Val Enaarmazenavelmwmes'}, inplace=True)
df['index'] = range(len(df))
reorder = ['index', 'Subsistema', 'Din Instante', 'Val Enaarmazenavelmwmes']
df = df[reorder].copy()
df['Val Enaarmazenavelmwmes'] = df['Val Enaarmazenavelmwmes'].str.replace('.', '').astype(float)
portuguese_month_abbreviations = {
    'jan.': 'jan',
    'fev.': 'feb',
    'mar.': 'mar',
    'abr.': 'apr',
    'mai.': 'may',
    'jun.': 'jun',
    'jul.': 'jul',
    'ago.': 'aug',
    'set.': 'sep',
    'out.': 'oct',
    'nov.': 'nov',
    'dez.': 'dec'
}

# Convert the 'Date_Column' to datetime format
df['Din Instante'] = pd.to_datetime(
    df['Din Instante'].replace(portuguese_month_abbreviations, regex=True),
    format='%d de %b de %y',
)

# Format the 'Date_Column' in the desired format
df['Din Instante'] = df['Din Instante'].dt.strftime('%d.%m.%Y %H.%M.%S')

df.head()

   index Subsistema         Din Instante  Val Enaarmazenavelmwmes
0      0      Norte  01.01.2000 00.00.00                  10393.0
1      1      Norte  02.01.2000 00.00.00                  10889.0
2      2      Norte  03.01.2000 00.00.00                  11227.0
3      3      Norte  04.01.2000 00.00.00                  11387.0
4      4      Norte  05.01.2000 00.00.00                  11517.0

In [7]:
df.describe()

             index  Val Enaarmazenavelmwmes
count  8766.000000              8766.000000
mean   4382.500000              7287.913073
std    2530.670563              7253.951698
min       0.000000               686.000000
25%    2191.250000              1787.000000
50%    4382.500000              4204.000000
75%    6573.750000             11074.000000
max    8765.000000             39297.000000